@font-face {
    font-family: Nunito;
    src: url(../../complementos/font/Nunito/Nunito-Regular.ttf);
}

@font-face{
    font-family: roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Bold.ttf);
}

:root{
    --altura-encabezado: 4rem;
    --primer-color: #241394;
    --segundo-color: #FFF3A6;
    --tercer-color: #AAA2E4;
    --cuarto-color: #948522;
    --font-header: roboto, Arial, Helvetica, sans-serif;
    --font-body: Nunito, Arial, Helvetica, sans-serif;
}
body{
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

header{
    height: var(--altura-encabezado);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primer-color);
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div a{
    color: var(--segundo-color);
    padding-left: .5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--font-header);
    font-weight: 700;
}

header div svg{
    width: 2rem;
    height: 2rem;
}

#coronavirus path{
    fill: var(--segundo-color);
}

#map{
    height: calc(100vh - var(--altura-encabezado));
}

/**/
input[type=range]{
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    margin: 10px 0;
    background: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--primer-color);
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid var(--primer-color);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 25px;
    background: var(--segundo-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--primer-color);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: var(--primer-color);
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid var(--primer-color);
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 25px;
    background: var(--segundo-color);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: var(--primer-color);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: var(--primer-color);
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid var(--primer-color);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--segundo-color);
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: var(--primer-color);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: var(--primer-color);
  }
  
/**/

div.texto_temporal{
    width: 10rem;
    height: 2rem;
    background-color: var(--primer-color);
    color: var(--segundo-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .4rem;
}

.input_group svg,
div.texto_temporal svg{
    height: 1.2rem;
    width: 1.2rem;
}

div.texto_temporal h3{
    margin: 0;
    font-size: 1.1rem;
}

#calendario g path{
    fill: var(--segundo-color);
}

.input_group{
    background-color: var(--primer-color);
    padding: .3rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input_group select{
    font-family: var(--font-body);
    font-size: 1.1rem;
    font-weight: normal;
    width: 10rem;
    margin-left: .5rem;
}

.contenedor_leyenda{
    background-color: #f4f4f4;
    padding: .2rem;
    border-radius: .5rem;
}

.contenedor_leyenda h2{
    font-family: var(--font-body);
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--primer-color);
}

.contenedor_simbolos{
    float: left;
    margin-left: 50px;
}

.leyenda_circulo{
    border-radius: 50%;
    border: 1px solid var(--primer-color);
    background-color: var(--primer-color);
    opacity: .4;
    display: inline-block;
}

.titulo_leyenda{
    position: absolute;
    right: 8px;
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--primer-color);
    font-weight: bold;
}

@media screen and (min-width: 900px){
    body{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    input.control_tiempo{
        width: 30rem;
    }
}

@media screen and (min-width: 400px) and (max-width:900px){
    header div{
        width: 90%;
    }
    
    header div a{
        text-align: center;
    }

    input.control_tiempo{
        width: 20rem;
    }
}

@media screen and (max-width: 400px){
    :root{
        --altura-encabezado: 6rem;
    }

    header div{
        width: 80%;
    }

    header div a{
        text-align: center;
    }

    header div svg{
        width: 7rem;
        height: 7rem;
    }

    input.control_tiempo{
        width: 10rem;
    }

}